@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

aside {
  & .subreddit-field-group {
    @apply relative;
    &::after {
      display: block; position: absolute; bottom: 7px; left: 0; content: "/r/"; pointer-events: none;
      @apply text-gray-500 pl-3;
    }
    & input#subreddit {
      padding-left: 28px;
    }
  }
  & button#submit {
    @apply cursor-pointer;
    &.loading {
      @apply opacity-50 cursor-default;
    }
  }
}

.icon-spinner2 {
  display: inline-block;
  position: relative;
  top: -1.5px;
  right: -4px;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: white;
  fill: white;
  animation: spin 1s infinite linear
}

h1 {
  @apply text-5xl;
}

.banner {
<<<<<<< Updated upstream
=======
  & h1 {
    @screen lg {
      /* max-width: 200px; */
    }
  }
>>>>>>> Stashed changes
  & svg.icon {
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    margin-right: 0.5em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
}

#post-list {
  @apply transition-all transition duration-200;
  min-height: 90px;
  &.notices {
    @apply flex justify-center items-center overflow-auto;
    &.warning {
      @apply border-red-700 border-2;
    }
    & .notice {
      @apply text-gray-700 text-lg p-4 text-center;
      @screen lg {
        @apply p-8;
      }
    }
    &.warning {
      & .notice {
        @apply text-red-800;
      }
    }
  }
  & .media {
    @apply transition-all transition duration-100;
    &:hover { @apply bg-gray-100; }
    &:last-of-type {
      @apply border-b-0;
    }
    & .inner {
      @apply border-b border-gray-400 p-4 flex;
      @media screen and (min-width: 992px) {
        @apply p-6;
      }
      @media screen and (min-width: 1200px) {
        @apply p-10;
      }
    }
    & .thumbnail {
      @apply h-10 w-10 rounded flex-shrink-0 overflow-hidden;
      @screen md {
        @apply h-12 w-12;
      }
      @screen lg {
        @apply h-16 w-16;
      }
      &:empty {
        @apply bg-gray-300;
      }
      & img {
        @apply h-full w-full object-cover;
        opacity: 0.1; filter: grayscale(1);
      }
      &:not(.default-image) img { opacity: 1; filter: none; }
    }
    & .media-body {
      @apply ml-3 w-full flex flex-col justify-start transition-opacity transition duration-100;
      @screen md {
        @apply ml-4;
      }
      @screen lg {
        @apply ml-6;
      }
      & h5 {
        @apply flex justify-between;
        & span.badge {
          @apply flex-shrink-0 order-last text-xs self-start ml-2 hidden items-center text-gray-600 pt-1 rounded;
          @screen sm {
            @apply flex;
          }
          @screen lg {
            @apply font-bold;
          }
          @screen md {
            @apply ml-4;
          }
          @screen lg {
            @apply ml-6;
          }
          & .icon-arrow-up {
            display: inline-block;
            width: 1em;
            height: 0.8em;
            stroke-width: 0;
            margin-right: 2px;
            stroke: currentColor;
            fill: currentColor;
          }
        }
        & span.title {
          @apply text-sm leading-snug;
          @screen lg {
            @apply text-base;
          }
        }
      }
      & time {
        @apply text-xs italic text-gray-500 mt-1;
        @screen lg {
            @apply text-sm;
          }
      }
    }
  }
  &.loading {
    @apply overflow-x-hidden relative;
    /* min-height: 150px; */
    /* &:after {
      content: 'Loading posts…';
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      transform: translateY(-50%);
      @apply text-center font-bold text-2xl text-gray-700;
      @screen lg {
        @apply text-4xl;
      }
    } */
    & .media {
      @apply relative border-gray-200;
      &::after {
        display: block;
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        transform: translateX(-100%);
        background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
        animation: loading 1.3s infinite;
      }
      & .thumbnail {
        @apply relative bg-gray-200 overflow-x-hidden;
        & img { display: none; }

      }
      & .media-body h5 span.title {
        @apply relative w-full rounded overflow-x-hidden;
        &::after {
          display: block;
          content: '';
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          @apply bg-gray-200 rounded;
        }
      }
      & .media-body h5 span.badge {
        @apply bg-gray-200 text-gray-200;
      }
      & .media-body time {
        opacity: 0;
      }
    }
  }
}


@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}




.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}